{% extends 'base.html' %}
{% block title %}Admin Page{% endblock title %}

{% block navbar %}
<li><a href="/admin/home" class="smoothScroll">Home</a></li>
<li><a href="/doctor/department" class="smoothScroll">Doctors</a></li>
<li><a href="/bookingdetails" class="smoothScroll">Booking Details</a></li>
<li><a href="/patientbooking" class="smoothScroll">patient Booking</a></li>
{% endblock navbar %}

{% block dropdown %}
<li><a href="/logout" class="smoothScroll">Logout</a></li>
{% endblock dropdown %}