

{% extends 'baselogin.html' %}
{% block navbar %}
<div class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
         <li><a href="/" class="smoothScroll">Home</a></li>
         <li><div class="dropdown">
            <button class="dropbtn">Login</button>
            <div class="dropdown-content">
                 <a href="/patient/login">Patients Login</a>
                 <a href="/doctor/login">Doctors Login</a>
                 <a href="/admin/login">Admin Login</a>
            </div>
           </div>
       </li>
    </ul>
</div>
{% endblock navbar %}


{% block form %}


<section id="home" class="slider" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">

            <div class="owl-carousel owl-theme">
                <div class="item item-second">
                    <div class="mycontainer">
                        <section class="container-xy forms">
                            <div class="form login">
                                <div class="form-content">
                                    <div class="flash">
                                        {% include 'message.html' %}
                                    </div>
                                    <header>Doctors Login</header>
                                    <form action="/doctor/login" method="post">
                                      <div class="form-group">
                                        <label for="email">Email Address</label>
                                        <input type="email" class="form-control" id="email" name="email" required>
                                    
                                      </div>
                                      <div class="form-group">
                                        <label for="Password">Password</label>
                                        <input type="password" class="form-control" id="password" name="password" required>
                                      </div>
                                    
                                      <button type="submit" class="btn btn-success btn-lg btn-block">Login</button>
                                    </form>
                                    <br>
                                   
                                        <span>Don't have an account? <a href="/doctor/signup"
                                                class="link signup-link">Signup</a></span>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

{% endblock form %}
