{% extends 'baselogin.html' %}

{% block form %}
        <div class="containerI">
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
               <section class="container1 forms">
                    <div class="form login">
                        <div class="form-content">
                            <header >Doctor Signup</header>
                            <form action="/signup" method="post" id="signup">
                                <div class="field input-field">
                                    <input type="text" placeholder="Enter Username" class="input" name="username" required>
                                </div>
                                <div class="field input-field">
                                    <input type="email" placeholder="Enter email" class="input" name="email" required>
                                </div>
                
                                <div class="field input-field">
                                    <input type="text" placeholder="Enter password" class="password" name="email" required>
                                    <!-- <i class='bx bx-hide eye-icon'></i> -->
                                </div>
               
                                <!-- <div class="form-link">
                                    <a href="#" class="forgot-pass">Forgot password?</a>
                                </div> -->
                                <br> 
                                <button type="button" class="btn btn-success btn-lg btn-block">Signup</button>
                            </form>
                
                            <div class="form-link">
                                <span>Already a User <a href="/dlogin" class="link signup-link">Login</a></span>
                            </div>
                        </div>
               
          </div>
          <div class="col-md-4"></div>

     </div>
{% endblock form %}