{% extends 'base.html' %}
{% block title %}
HOME PAGE
{% endblock title %}


{% block navbar %}
<li><a href="/" class="smoothScroll">Home</a></li>
  
{% endblock navbar %}


{% block dropdown %}
<li>
  <div class="dropdown">
    <button class="dropbtn">Login</button>
    <div class="dropdown-content">
      <a href="/patient/login">Patients Login</a>
      <a href="/doctor/login">Doctors Login</a>
      <a href="/admin/login">Admin Login</a>
    </div>
  </div>
</li> 

{% endblock dropdown %}
<div class="flash">
  {% include 'message.html' %}
</div>
