{% extends 'patienthome.html' %}
{% block title %}PATIENT SLOT BOOKING{% endblock title %}
{% block body %}
<section id="home" class="slider" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
  
            <div class="owl-carousel owl-theme">
                <div class="item item-second">
                    <div class="mycontainer">
                      <div class="row ">
                        <!-- <div class="col-md-3">
                         <br>
                          <div class="card" style="width: 35rem" ;>
                            <div class="card-body ">
                              <h2 class="card-title"><i>WELCOME TO OUR HOSPITAL</i></h2>
                              <p class="card-text">This is Slot Booking Page</p>
                            </div>
                            <ul class="list-group ">
                              <li class="list-group-item">Book your slot</li>
                              <li class="list-group-item">Choose doctors Department</li>
                              <li class="list-group-item">Edit your Slot</li>
                              <li class="list-group-item">Update your Slot</li>
                              <li class="list-group-item">Choose date and timing</li>
                            </ul>
                        
                          </div>
                        </div> -->
                        <!-- <div class="col-md-6"> -->
                          <section class="container-xy forms">
                            <div class="form login">
                                <div class="form-content">
                                    <div class="flash">
                                        {% include 'message.html' %}
                                    </div>
                                    <header>Book Your Slot</header>
                                    <form  action="/patient/booking" method="post">
                                      <div class="form-group">
                                        <input
                                          type="email"
                                          class="form-control"
                                          id="email"
                                          value="{{current_user.email}}"
                                          name="email"
                                          required>
                                      </div>
                                      <div class="form-group">
                                        <input
                                          type="text"
                                          class="form-control"
                                          id="name"
                                          name="name"
                                          placeholder="Full Name"
                                          autocomplete="off"
                                          required>
                                      </div>
                                      <div class="form-group">
                                        <select class="form-control" id="gender" name="gender" required>
                                          <option selected>Gender</option>
                                          <option value="Male">Male</option>
                                          <option value="Female">Female</option>
                                          <option value="Others">Others</option>
                                        </select>
                                      </div>
                                      <div class="form-group">
                                        <select class="form-control" id="slot" name="slot" required>
                                          <option selected>Slot</option>
                                          <option value="morning">Morning</option>
                                          <option value="evening">Evening</option>
                                          <option value="night">Night</option>
                                        </select>
                                      </div>
                                      <div class="form-group">
                                        <input
                                          type="time"
                                          class="form-control"
                                          name="time"
                                          placeholder="Time"
                                          required>
                                      </div>
                                      <div class="form-group">
                                        <input
                                          type="date"
                                          class="form-control"
                                          name="date"
                                          placeholder="date"
                                          required>
                                      </div>
                                      <div class="form-group">
                                        <input
                                          type="text"
                                          class="form-control"
                                          id="disease"
                                          name="disease"
                                          placeholder="Disease"
                                          autocomplete="off"
                                          required>
                                      </div>
                                      <!-- <div class="form-group">
                                          <input
                                            type="text"
                                            class="form-control"
                                            id="dept"
                                            name="dept"
                                            placeholder="Dr.Department"
                                            required>
                                        </div> -->
                                     
                                      <div class="form-group">
                                        <select class="form-control" id="dept" name="dept" required>
                                          <option selected>Select Doctors department</option>
                                          {% for d in doct %}
                                          <option value="{{d.dept}}">{{d.dept}}</option>
                                          {% endfor %} 
                                        </select>
                                      </div>
                                      <div class="form-group">
                                        <input
                                          type="number"
                                          class="form-control"
                                          id="number"
                                          name="number"
                                          placeholder="Phone Number"
                                          required/>
                                      </div>
                                      
                                      <button type="submit" class="btn btn-success btn-lg btn-block">Book</button>
                                    </form>
                                  
                                </div>
                            </div>
                        <!-- </div> -->
                      </div>
                       
                    </div>
                </div>
             </div>
  
        </div>
    </div>
  </section>
{% endblock body %}

